.progress-bar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progress-bar > div {
  background-color: orange;
  width: 0%;
  height: 20px;
  border-radius: 10px;
}

.progress-message {
  text-align: center;
  margin: 18px;
  font-size: 20px;
}
